{% extends "base.twig" %}
{% block additionalHead %}
    <script>
        $(document).ready(function() {

        });
    </script>


{% endblock %}
{% block content %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <h2>{{ electionName }}</h2><br>
    <form action="index.php?p=vote&election={{ election }}" method="post">



        {%  for candidate in candidates %}
            <select name="candidate[{{ candidate.id }}]"> {{ candidate.name }} :
                {% for i in 1..{{ numCandidates }} %}
                    <option value = "{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}


        <input type="submit" value = "Submit">
    </form>
{% endblock %}