{% extends "base.twig" %}
{% block additionalHead %}
    <script>
        $(document).ready(function() {

        });
    </script>


{% endblock %}
{% block content %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <h2>Poll: {{ electionName }}</h2><br>
    Rank your options from 1 to {{ numCandidates }} where 1 is best. Use each number only once!
    <form action="index.php?p=vote&election={{ election }}" method="post">



        {%  for candidate in candidates %}
            {{ candidate.name }}: <select name="candidate[{{ candidate.id }}]">
          {% for i in 1..numCandidates %}
                        <option value = "{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}


        <input type="submit" value = "Submit">
    </form>
{% endblock %}